<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{ABSOLUTE} [%p]: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="de.stinkiproductions.learning" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="off"/>
    </Loggers>
</Configuration>